:root{
    --test: #ff6b6b;
    --background: #0B1315;
    --highlight: #162126;
    --primary-accent: #22D3EE;
    --secondary-accent: #10B981;
    --border: #2C3E44;
    --text: #ECFEFF;
    --secondary-text: #94A3B8;
    --font: 'Courier New', Courier, monospace;

}
html, body {
    width: 100%;
    margin: 0;
    /* padding: 0; */
    min-height: 100vh;
}


body{
    font-family: var(--font);
    color: var(--text);
    /* display: flex; */
    background-color: var(--background);
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    background-color: var(--background);
    border-bottom: 2px solid var(--border);
    padding: 10px 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*    */
}

.nav-links li a {
    color: var(--text);
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

.nav-links li a:hover {
    color: var(--primary-accent);
}

.container {
    display: flex;
    gap: 10px; 
    min-height: 100vh
}

  /* Set specific widths for each body */
.body-1 {
    flex: 0.75;
    border-right: 2px solid var(--border);
    background-color: var(--highlight);
}
  
.body-2 {
    flex: 2;
}
  
.body-3 {
    flex: 1;
}

#create-review-button{
    font: var(--font);
    color: var(--text);
    background-color: transparent;
    border: 2px solid var(--secondary-accent);
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.3s;
}

#create-review-button::hover{
    background-color: #10B981;
}